
/*font-family: 'Lato', sans-serif;
font-family: 'Ropa Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
colores: negro =  gris = #F2F2F2; rojo = #DF0101*/



#logo{
  height: 15em;
  width: 15em;
  margin-left:6em;
  margin-top: 7em;
}
#btnsignUp{
  margin-bottom: 1em;
  margin-top:2em;
  margin-left: 6em;
  width: 13em;
  background-color: #DF0101;;
  border: none;
  color: #fff;
  outline: none;
}
