
/*font-family: 'Lato', sans-serif;
font-family: 'Ropa Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
colores: negro =  gris = #F2F2F2; rojo = #DF0101*/

/* Estilos con imagen de fondo de la secci贸n splash */
#containerSplash{
  background-image: url(../images/img-fondo.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: bottom;
}
/* Estilos del logo en la secci贸n splash */
.logoSocialMovie{
  height: 14em;
  width: 14em;
  margin-left: 6em;
  margin-top: 9.5em;
}
/* Estilos del logo en la secci贸n init */
#logo{
  height: 15em;
  width: 15em;
  margin-left:6em;
  margin-top: 7em;
}
/*estilos de la seccion start*/
.section-start{
  background-color: white;
}
.firstCol{
  border-right: 0.1em solid black;
}
.name-movie{
  margin-top: 3em;
  margin-left: 1.3em;
  margin-bottom: 0;
  color:#DF0101;
}
.page{
   margin-top: 3em;
  margin-left: 1.2em;
  margin-bottom: 0;
  color: black;
}
.explore{
  margin-left: 2em;
  margin-top:0.2em;
  font-size: 17px;
  color: black;
}
.operate{
  margin-top: 1em;
  margin-left: 2em;
  margin-bottom: 1em;
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.users{
  margin-left: 2em;
  color:#DF0101;
}
.users::after {
  content: "Agrega a tus amigos";
  color: white;
  font-family: 'Ropa Sans', sans-serif;
  margin-left: 1em;
  font-size: 17px;
  font-weight: bold;
  color:black;
}
.affinity{
 margin-left: 2em;
 margin-top: 0.2em;
 margin-bottom: 2em;
 font-size: 15px;
 color: black;
}
.film{
 margin-left: 2em;
 color:#DF0101;
}
.film::after {
  content: "Incorpora a tu perfil";
  color: white;
  font-family: 'Ropa Sans', sans-serif;
  margin-left: 1em;
  font-size: 17px;
  font-weight: bold;
  color:black;
}
.watched{
 margin-left: 2em;
 margin-top: 0.2em;
 margin-bottom: 2em;
 font-size: 15px;
 color: black;
}
.comment{
  margin-left: 2em;
  color:#DF0101;
}
.comment::after {
  content: "Comenta";
  color: white;
  font-family: 'Ropa Sans', sans-serif;
  margin-left: 1em;
  font-size: 17px;
  font-weight: bold;
  color:black;
}
.share{
 margin-left: 2em;
 margin-top: 0.2em;
 margin-bottom: 4em;
 color: black;
 font-size: 15px;

}
#logo-prueba{
 height:13em;
 width: 13em;
 margin-left: 17em;
 margin-bottom: 2em;
 margin-top: 6em;
}
/* Estilos del bot贸n de inicir con Google */
#btnsignUp{
  margin-left: 17em;
  width: 13em;
  background-color: #DF0101;;
  border: none;
  color: #fff;
  outline: none;
}
